<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= presenter.title %>
</p>

<p>
  <b>Body:</b>
  <%= presenter.body %>
</p>

<p>
  <b>Published:</b>
  <%= presenter.published %>
</p>


<%= link_to 'Edit', edit_post_path(presenter) %> | <%= link_to 'Back', posts_path %>
